doctype
html
  head
    title Socket.IO Chat
    link(rel='stylesheet', href='/css/index.css')
  script(src='/socket.io/socket.io.js')
  script(src='http://code.jquery.com/jquery-1.11.1.js')
  body
    .container
      .main-content
        ul(id='users')
        ul(id='messages')
      #username-form-overlay
      form(id='username-form' action='')
        p Choose a username
        input(id='username' autocomplete='off')
        button Send
      form(id='chat-form' action='')
        input(id='m' autocomplete='off')
        button Send
  script(src='/js/socket.js')